<div class="card">
  <h3>Edit Film</h3>
  <form action="/films/{{film.id}}?_method=PUT" method="POST">
    <div>
      <input type="text" name="director" placeholder="Director" value="{{film.director}}" required>
    </div>
    <div>
      <input type="text" name="title" placeholder="Title" value="{{film.title}}" required>
    </div>
    <div>
      <input type="text" name="year" placeholder="Year" value="{{film.year}}" required>
    </div>
    <div>
      <input type="text" name="link" placeholder="Link" value="{{film.link}}" required>
    </div>
    <div>
      <label for="refactor">refactor</label>
      <input type="checkbox" name="refactor" {{#if film.refactor}}checked{{/if}}>
    </div>
    <input type="hidden" name="_method" value="PUT">
    <button type="submit">Submit</button>
  </form>
</div>