{{#films}}
<div class="card">
  <div class="director">
    <span class="director-element">{{director}}</span>
    <form method="POST" action="/films/{{id}}?_method=DELETE">
      {{!-- <input type="submit" value="Delete"> --}}
      <button type="submit" class="delete">
        <ion-icon name="close-circle"></ion-icon>
      </button>
      <input type="hidden" name="_method" value="DELETE">
    </form>
  </div>
  <p>{{title}} - {{year}}</p>
  <p class='link'>{{link}} <ion-icon name="clipboard"></ion-icon>
  </p>
  <a href="/films/edit/{{id}}">
    <ion-icon name="create"></ion-icon>
  </a>

</div>
{{/films}}