{{#films}}
<div class="card">
  <h4>{{director}}</h4>
  <p>{{title}} - {{year}}</p>
  <p class='link'>{{link}}</p>
  <a href="/films/edit/{{id}}">Edit</a>
  <form method="POST" action="/films/{{id}}?_method=DELETE">
    <input type="submit" value="Delete">
    <input type="hidden" name="_method" value="DELETE">
  </form>
</div>
{{/films}}